body {
  margin: 0;
  font-family: sans-serif;
}

.kiosk {
  width: 1080px;
  margin: auto;
  border: 1px solid #ccc;
  height: 1920px;
  display: flex;
  flex-direction: column;
}

/* 상단 */
.top-bar {
  background: #c72828;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.home-btn {
  background: #b71c1c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

/* 카테고리 */
.category-bar {
  background: #fff4f4;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;
}

.category-bar button {
  border: none;
  background: white;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #ddd;
}

/* Content 2단 구조 */
.content {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* 메뉴 3열 */
.menu-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-card {
  border: 1px solid #ddd;
  padding: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.menu-card img {
  width: 100%;
  border-radius: 10px;
}

.menu-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.menu-name {
  margin-top: 10px;
  font-size: 20px;
}

.menu-price {
  font-size: 22px;
  margin-top: 4px;
  font-weight: bold;
}

/* 장바구니 */
.cart {
  flex: 1;
  background: #fff;
  border-left: 2px solid #ddd;
  padding: 20px;
}

.cart h3 {
  margin-top: 0;
}

.delete-all {
  width: 100%;
  padding: 10px;
  background: #e64a19;
  color: white;
  border: none;
  margin-bottom: 20px;
}

.cart-list .slot {
  height: 90px;
  border: 1px dashed #bbb;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-bottom {
  margin-top: 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

/* 하단 버튼 */
.bottom-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bottom-bar button {
  padding: 20px 40px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
}

.prev-btn {
  background: #ddd;
}

.next-btn {
  background: #ff7043;
  color: white;
}

.order-btn {
  background: #c62828;
  color: white;
}
